aiohttp==3.8.6
aiortsp @ git+https://github.com/m4reko/aiortsp@16b0e084e2520759ed32ff1dd911d82db84b8f34
aiosignal==1.3.1
arabic-reshaper==3.0.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
av==10.0.0
beautifulsoup4==4.12.2
blosc2==2.3.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cryptography==41.0.5
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
dpkt==1.9.8
dukpy==0.3.0
EDFlib-Python==1.0.8
eeglabio==0.0.2.post4
egi_pynetstation==1.0.1
elementpath==4.1.5
esprima==4.0.1
et-xmlfile==1.1.0
ffpyplayer==4.5.1
fonttools==4.45.0
freetype-py==2.4.0
frozenlist==1.4.0
future==0.18.3
g3pylib @ file:///D:/%E7%89%9F%E6%96%B0%E8%AF%AD%E7%9A%84%E6%96%87%E4%BB%B6%E5%A4%B9/%E7%A7%91%E5%A4%A7%E8%AE%AF%E9%A3%9E%E5%AE%9E%E4%B9%A0/%E9%A1%B9%E7%9B%AE%E5%86%85%E5%AE%B9/EEG%E9%A2%84%E8%AE%AD%E7%BB%83%2B%E8%AF%AD%E8%A8%80%E8%A7%A3%E7%A0%81%E9%A1%B9%E7%9B%AE/%E6%95%B0%E6%8D%AE%E5%A4%84%E7%90%86/%E6%95%B0%E6%8D%AE%E5%A4%84%E7%90%86%E5%89%8D%E4%BA%94%E4%B8%AA/git_new/Chinese_reading_task_eeg_processing/experiment/g3pylib
gevent==23.9.1
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.1
h5py==3.10.0
html2text==2020.1.16
idna==3.4
ifaddr==0.2.0
imageio==2.33.0
imageio-ffmpeg==0.4.9
javascripthon==0.12
jedi==0.19.1
Jinja2==3.1.2
json-tricks==3.17.3
kiwisolver==1.4.5
lazy_loader==0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mdurl==0.1.2
mne==1.6.0
mne-bids==0.14
msgpack==1.0.7
msgpack-numpy==0.4.8
multidict==6.0.4
ndindex==1.7
nibabel==5.1.0
ntplib==0.4.0
numexpr==2.8.7
numpy @ file:///D:/bld/numpy_1653325554875/work
opencv-python==4.8.1.78
openpyxl==3.1.2
packaging==23.2
pandas==2.1.3
parso==0.8.3
Pillow==10.1.0
platformdirs==4.0.0
pooch==1.8.0
psutil==5.9.6
psychopy==2023.2.3
psychtoolbox==3.0.19.0
py-cpuinfo==9.0.0
pybv==0.7.5
pycparser==2.21
pyglet==1.4.11
pymatreader==0.0.32
pyparallel==0.2.2
pyparsing==3.1.1
pypi-search==2.0
pypiwin32==223
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-bidi==0.4.2
python-dateutil==2.8.2
python-gitlab==4.1.1
python-vlc==3.0.11115
pytz==2023.3.post1
pywin32==306
pyWinhook==1.6.2
PyYAML==6.0.1
pyzmq==25.1.1
questplus==2023.1
requests==2.31.0
requests-toolbelt==1.0.0
scipy==1.11.4
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
soupsieve==2.5
tables==3.9.1
tqdm==4.66.1
tzdata==2023.3
ujson==5.8.0
urllib3==2.1.0
websockets==10.4
wxPython==4.2.1
xarray==2023.11.0
xmlschema==2.5.0
xmltodict==0.13.0
yarl==1.9.3
zeroconf==0.47.4
zope.event==5.0
zope.interface==6.1
